 div{
     display: inline-block;
     width: 100px;
     border: 2px solid black;
     border-radius: 50%;
     font-size: 20px;
     text-align: center;
     line-height: 3.2;
     margin: 0 20px;
 }
